@import "tailwindcss";

@font-face {
  font-family: "MontserratRegular";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  display: swap;
  font-weight: 400;
}

@theme {
  --color-primary: #176161;
  --font-poppinsRegular: "PoppinsRegular";
  --font-montserratRegular: "MontserratRegular";
}
